<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="personal.reactlearning.simpleboard.board.mapper.BoardMapper">

    <insert id="insertArticle" parameterType="personal.reactlearning.simpleboard.board.domain.Article">
        INSERT INTO ARTICLE (ARTICLE_CODE, TITLE, WRITER_CODE, CONTENT, REGISTERED_AT)
        VALUES (SEQ_ARTICLE_CODE.NEXTVAL, #{title}, #{writerCode}, #{content}, SYSDATE)
    </insert>

    <update id="deleteArticle" parameterType="personal.reactlearning.simpleboard.board.domain.Article">
        UPDATE ARTICLE SET STATUS = -1
        WHERE ARTICLE_CODE = #{articleCode}
          AND WRITER_CODE = #{writerCode}
    </update>

    <select id="selectArticles" parameterType="personal.reactlearning.simpleboard.board.domain.Article">
        SELECT
            A.ARTICLE_CODE AS articleCode,
            A.TITLE AS title,
            A.WRITER_CODE AS writer,
            U.NAME AS writerName,
            A.STATUS AS status,
            A.REGISTERED_AT AS registeredAt,
            A.VIEWS AS views,
            CASE
                WHEN WRITER_CODE=#{writerCode} THEN 1
                ELSE 0
            END AS myArticle
        FROM
            ARTICLE A INNER JOIN USERS U ON A.WRITER_CODE = U.USER_CODE
        WHERE A.STATUS = 1
            <if test="searchValue!=null and searchType!=null">
                <if test="searchType==1">
                AND A.TITLE LIKE '%' || #{searchValue} || '%'
                </if>
                <if test="searchType==2">
                AND A.CONTENT LIKE '%' || #{searchValue} || '%'
                </if>
                <if test="searchType==3">
                    AND (A.TITLE LIKE '%' || #{searchValue} || '%'
                             OR A.CONTENT LIKE '%' || #{searchValue} || '%')
                </if>
                <if test="searchType==4">
                    AND U.NAME LIKE '%' || #{searchValue} || '%'
                </if>
            </if>
        <if test="sortBy!=null">
        ORDER BY #{sortBy} #{order}
        </if>
    </select>

    <update id="updateArticle" parameterType="personal.reactlearning.simpleboard.board.domain.Article">
        UPDATE ARTICLE
        SET TITLE = #{title},
            CONTENT = #{content}
        WHERE ARTICLE_CODE = #{articleCode}
          AND WRITER_CODE = #{writerCode}
          AND STATUS = 1
    </update>

    <update id="increaseArticleViews" parameterType="personal.reactlearning.simpleboard.board.domain.Article">
        UPDATE ARTICLE
        SET VIEWS = VIEWS+1
        WHERE ARTICLE_CODE = #{articleCode}
          AND WRITER_CODE != #{writerCode}
          AND STATUS = 1
    </update>

    <select id="selectArticle" parameterType="personal.reactlearning.simpleboard.board.domain.Article">
        SELECT
            A.ARTICLE_CODE AS articleCode,
            A.WRITER_CODE AS writerCode,
            U.NAME AS writerName,
            A.TITLE AS title,
            A.CONTENT AS content,
            A.REGISTERED_AT AS registeredAt,
            A.VIEWS AS views,
            CASE
                WHEN WRITER_CODE=#{writerCode} THEN 1
                ELSE 0
            END AS myArticle
        FROM ARTICLE A INNER JOIN USERS U ON A.WRITER_CODE = U.USER_CODE
        WHERE A.ARTICLE_CODE = #{articleCode}
          AND A.STATUS = 1
    </select>

    <select id="selectComments" parameterType="personal.reactlearning.simpleboard.board.domain.Comment"
            resultType="personal.reactlearning.simpleboard.board.domain.Comment">
        SELECT
            C.COMMENT_CODE AS commentCode,
            C.WRITER_CODE AS writerCode,
            U.NAME AS writerName,
            C.ARTICLE_CODE AS articleCode,
            C.PARENT_CODE AS parentCode,
            C.CONTENT AS content,
            C.REGISTERED_AT AS registeredAt,
            C.STATUS AS status,
            CASE
                WHEN C.WRITER_CODE=#{writerCode} THEN 1
                ELSE 0
            END AS myComment
        FROM "COMMENT" C INNER JOIN USERS U ON C.WRITER_CODE = U.USER_CODE
        WHERE C.ARTICLE_CODE = #{articleCode}
          AND C.STATUS = 1
        ORDER BY C.REGISTERED_AT DESC
    </select>

    <insert id="insertComment" parameterType="personal.reactlearning.simpleboard.board.domain.Comment">
        INSERT INTO "COMMENT" (COMMENT_CODE, WRITER_CODE, ARTICLE_CODE, PARENT_CODE, CONTENT, REGISTERED_AT, STATUS)
        VALUES (SEQ_COMMENT_CODE.NEXTVAL, #{writerCode}, #{articleCode}, #{parentCode}, #{content}, SYSDATE, 1)
    </insert>

    <update id="deleteComment" parameterType="personal.reactlearning.simpleboard.board.domain.Comment">
        UPDATE "COMMENT"
        SET STATUS = -1
        WHERE COMMENT_CODE = #{commentCode}
          AND WRITER_CODE = #{writerCode}
    </update>
</mapper>